.sign-in-div {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%); 
  border-radius: 5px;
  border: 1px solid #2A2A69;
  padding: 2%;
  background-color: rgb(175, 207, 255);
}
.introLogo {
  padding: 10px;
}

.card mb-3 {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:100%;
  height: 600px;
  transform: translate(-50%, -50%);
}
.introLogo {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
html, body {
  background-image: url('https://cdn.pixabay.com/photo/2016/08/02/07/45/the-polygon-1562743_960_720.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.designer-link:hover {
  cursor: pointer;
}

.sign-up-div {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #474a4d;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:70%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow:auto;
  padding-top: 4%;
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 5px;
}

.error {
  font-size: medium;
  color: red
}

h1, h2 { color: #111; font-family: 'Montserrat', sans-serif;; font-size: 275px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }

.nav-date { 
  margin-top: 10px;
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}
.nav-div {
  background: linear-gradient(0deg, rgba(84,93,250,1) 0%, rgba(42,152,254,1) 100%);
  border: 1px solid #2A2A69;
  padding-bottom: 0px;
  overflow: hidden;
  padding: 0;
}
.btn {
  margin: 5px;
}


thead {
  table-layout:fixed;
}

.btn-group {
  display: flex;
  float: right;
}

.dashboard {
  text-align: center;
  /* border: 1px solid #2A2A69; */
  border-radius: 5px;
  position: fixed;
  margin-top: 40px;
  top: 55%;
  left: 50%;
  width:100%;
  height: 100%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

/* ////////////// USER CSS ////////////  */
.user-view {
  width: 80% !important;
}
.user-update-form {
  text-align: center;
  background-color: white;
  border: 1px solid #2A2A69;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width:80%;
  height: 75%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
  border-radius: 5px;
}

/* ////////////// TRANSACTIONS CSS ////////////  */
.transactions-container {
  background-color: white;
  border: 1px solid #2A2A69;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;

}
.transactions-table {
  height: 240px;
  overflow: auto;
}
.transaction-view-btn {
  margin-top: 10px;
}
.transactions-panel {
  padding-top: 5px;
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
.transactions-panel-table {
  height: 85%;
  overflow: auto;
}
.transaction-form {
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

.alert {
  margin-top: 25px;
}


/* ////////////// ACCOUNTS CSS ////////////  */
.accounts-container {
  background-color: white;
  border: 1px solid #2A2A69;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;
}

.assets {
  color:#0B9E29;
}
.liabilities {
  color:#DB0000;
}
.accounts-table {
  height: 240px;
  overflow: auto;
}
.account-view-btn {
  margin-top: 10px;
}
.accounts-panel {
  padding-top: 10px;
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  border-radius: 5px;
}
.accounts-panel-table {
  height: 85%;
  overflow: auto;
}
.account-form {
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

/* ////////////// BUDGETS CSS ////////////  */
.budgets-container {
  background-color: white;
  border: 1px solid #2A2A69;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;
}
.budgets-table {
  height: 230px;
  overflow: auto;
}
.budgets-view-btn {
  margin-top: 20px;
}
.budgets-panel {
  padding-top: 10px;
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
.budgets-panel-table {
  height: 85%;
  overflow: auto;
}

.table-responsive {
  height: 100%;
}
.budget-form {
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}
.budget-view {
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  border-radius: 5px;
}
.budget-transactions {
  margin-top: 15px;
  border: 1px solid #2A2A69;
  width: 100%;
  height: 95%;
  overflow: hidden;
  border-radius: 5px;
  padding-bottom: 20px;
}
.budget-view-card {
  height: 90%;
}
.budget-view-back-button {
  height: 10%;
  margin-top: 5px;
}
/* ////////////// BILLS CSS ////////////  */
.bills-container {
  background-color: white;
  border: 1px solid #2A2A69;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;
}
.bills-table {
  height: 230px;
  overflow: auto;
}
.bills-view-btn {
  margin-top: 20px;
}
.bills-panel {
  padding-top: 10px;
  text-align: center;
  background-color: white;
  border: 1px solid #2A2A69;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  border-radius: 5px;
}
.bills-panel-table {
  height: 85%;
  overflow: auto;
}
.bill-form {
  text-align: center;
  background-color: white;
  border: 1px solid #2A2A69;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

/* ////////////// GOALS CSS ////////////  */
.goals-container {
  background-color: white;
  border: 1px solid #2A2A69;
  margin-top: 25px;
  height: 350px;
  border-radius: 5px;
}
.goals-table {
  height: 230px;
  overflow: auto;
}
.goals-view-btn {
  margin-top: 20px;
}
.goals-panel {
  padding-top: 10px;
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
.goals-panel-table {
  height: 85%;
  overflow: auto;
}
.goal-form {
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding-top: 10px;
  padding-left: 75px;
  padding-right: 75px;
}
.goal-view {
  background-color: white;
  text-align: center;
  border: 1px solid #2A2A69;
  position: fixed;
  top: 50%;
  left: 50%;
  width:95%;
  height: 80%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  border-radius: 5px;
}
.goal-transactions {
  border: 1px solid #2A2A69;
  width: 100%;
  height: 90%;
  overflow: hidden;
  border-radius: 5px;
}
.goal-view-card {
  height: 90%;
}
.goal-view-back-button {
  height: 10%;
  margin-top: 5px;
}

.mr-sm-2 {
  margin: 5px;
  text-align: center;
  float: right;
}

  ul {
    text-align: center;
    list-style-position: inside;
}



.inner {
  width: 250px;
  height: 100px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -110px; /* apply negative top and left margins to truly center the element */
}

.inner h1 {
  font-size: 90px;
}

.budget-chart {
  margin-top: 20px;
}

.account-from-image {
  text-align: center;
  margin-top: 40px;
  height: auto;
  max-width: 100%;
  margin-bottom: 14px;
}
.goal-from-image {
  text-align: center;
  height: auto;
  max-width: 95%;
  margin-bottom: 5px;
}
.bill-from-image {
  text-align: center;
  height: auto;
  max-width: 90%;
  margin-bottom: 6px;
}
.budget-form-image {
  text-align: center;
  margin-top: 40px;
  height: auto;
  max-width: 100%;
  margin-bottom: 28px;
}

.transaction-form-image {
  margin-bottom: 70px;
}

.form-buttons {
  bottom: 0;
}